In [31]:
import pandas as pd
from src.cleaning import DataCleaner

In [32]:
df_unemployment_raw = pd.read_csv('data/raw/ssamatab1.csv', skiprows=2).dropna()

df_house_raw = pd.read_csv('data/raw/hpi_po_metro.csv')

unemployment_cleaner = DataCleaner(df_unemployment_raw)
house_cleaner = DataCleaner(df_house_raw)

In [33]:
unemployment_cleaner.rename_emp()
df_emp = unemployment_cleaner.df
df_emp.shape

(168204, 10)

In [34]:
unemployment_cleaner.drop_n_values()
df = unemployment_cleaner.df
df.shape

(168076, 10)

In [35]:
unemployment_cleaner.unemployment_object_cols_to_int64()
df = unemployment_cleaner.df
df

,LAUS Code,State FIPS Code,FIPS Code,Area,Year,Month,Civilian Labor Force,Employment,Unemployment,Unemployment Rate
1,MT0111500000000,1.0,11500.0,"Anniston-Oxford, AL MSA",1990.0,1.0,51501,47884,3617,70
2,MT0112220000000,1.0,12220.0,"Auburn-Opelika, AL MSA",1990.0,1.0,53578,49408,4170,78
3,MT0113820000000,1.0,13820.0,"Birmingham, AL MSA",1990.0,1.0,458343,434097,24246,53
4,MT0119300000000,1.0,19300.0,"Daphne-Fairhope-Foley, AL MSA",1990.0,1.0,46132,43694,2438,53
5,MT0119460000000,1.0,19460.0,"Decatur, AL MSA",1990.0,1.0,65284,60964,4320,66
...,...,...,...,...,...,...,...,...,...,...
168200,MT7211640000000,72.0,11640.0,"Arecibo, PR MSA",2025.0,8.0,68674,64402,4272,62
168201,MT7225020000000,72.0,25020.0,"Guayama, PR MSA",2025.0,8.0,19243,17562,1681,87
168202,MT7232420000000,72.0,32420.0,"Mayaguez, PR MSA",2025.0,8.0,68825,62866,5959,87
168203,MT7238660000000,72.0,38660.0,"Ponce, PR MSA",2025.0,8.0,90856,83087,7769,86
168204,MT7241980000000,72.0,41980.0,"San Juan-Bayamon-Caguas, PR MSA",2025.0,8.0,829735,792573,37162,45

In [36]:
df.dtypes

LAUS Code                object
State FIPS Code         float64
FIPS Code               float64
Area                     object
Year                    float64
Month                   float64
Civilian Labor Force      int64
Employment                int64
Unemployment              int64
Unemployment Rate         int64
dtype: object